* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  /* this fits the image exactly instead of expanding */
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
