* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 500vh;
}

.app__header {
  /* this fits the image exactly instead of expanding */
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.app__signin {
  display: flex;
  flex-direction: column;
}
.app__loginContainer {
  justify-content: space-between;
}

.app__posts {
  padding: 10px;
}
.app__userDetails {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}
