.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.post__image {
  border-top: 1px solid lightgrey;
  width: 100%;
  object-fit: contain;
}
.post__avatar {
}

.post__text {
  padding: 10px;
}
.post__commentBox {
  display: flex;
  flex-direction: row;
}
.post__inputComment {
  flex: 1;
  border: none;
  border-top: 1px solid gray;
  padding: 10px;
}
.post__commentButton {
  /* border: none; */
  border: 1px solid lightgrey !important;
  flex: 0;
  color: lightskyblue;
  background-color: transparent;
  padding: 10px;
}

.post__comments {
  border-top: 1px solid lightgrey;
  padding: 5px 10px;
}
.post__noComments {
  padding: 10px;
  border-top: 1px solid lightgrey;
}
