.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgrey;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.post__image {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  object-fit: contain;
}
.post__avatar {
}

.post__text {
  padding: 0.5rem;
}
